<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Hands-on Lab : Web Scraping**

Estimated time needed: **30 to 45** minutes

## Objectives

In this lab you will perform the following:

* Extract information from a given web site 
* Write the scraped data into a csv file.

## Extract information from the given web site
You will extract the data from the below web site: <br>

In [1]:
#this url contains the data you need to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

The data you need to scrape is the **name of the programming language** and **average annual salary**.<br> It is a good idea to open the url in your web broswer and study the contents of the web page before you start to scrape.

Import the required libraries

In [9]:
# Your code here
import requests
from bs4 import BeautifulSoup
import pandas as pd

Download the webpage at the url

In [5]:
#your code goes here
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html"
data = requests.get(url).text

Create a soup object

In [6]:
#your code goes here
soup = BeautifulSoup(data,"html.parser")

Scrape the `Language name` and `annual average salary`.

In [13]:
#your code goes here
table = soup.find('table')
table_df = pd.DataFrame(columns=['Language name','annual average salary'])

for row in table.find_all('tr'):
    cols = row.find_all('td')
    Language_name = cols[1].getText()
    Annual_average_salary = cols[3].getText()
    print('Language name= {} and Annual average salary= {}'.format(Language_name, Annual_average_salary))
    table_df = table_df.append({'Language name': Language_name, 'annual average salary': Annual_average_salary}, ignore_index=True)
    table_df

Language name= Color and Annual average salary= Hex Code#RRGGBB
Language name=   and Annual average salary= #FFA07A
Language name=   and Annual average salary= #FA8072
Language name=   and Annual average salary= #E9967A
Language name=   and Annual average salary= #F08080
Language name=   and Annual average salary= #FF7F50
Language name=   and Annual average salary= #FF6347
Language name=   and Annual average salary= #FF4500
Language name=   and Annual average salary= #FFD700
Language name=   and Annual average salary= #FFA500
Language name=   and Annual average salary= #FF8C00
Language name=   and Annual average salary= #FFFFE0
Language name=   and Annual average salary= #FFFACD
Language name=   and Annual average salary= #FFEFD5
Language name=   and Annual average salary= #FFE4B5
Language name=   and Annual average salary= #FFDAB9
Language name=   and Annual average salary= #EEE8AA
Language name=   and Annual average salary= #F0E68C
Language name=   and Annual average salary= #BDB76B
Language name=   and Annual average salary= #FFFF00
Language name=   and Annual average salary= #7CFC00
Language name=   and Annual average salary= #7FFF00
Language name=   and Annual average salary= #32CD32
Language name=   and Annual average salary= #00FF00
Language name=   and Annual average salary= #228B22
Language name=   and Annual average salary= #008000
Language name=   and Annual average salary= #B0E0E6
Language name=   and Annual average salary= #ADD8E6
Language name=   and Annual average salary= #87CEFA
Language name=   and Annual average salary= #87CEEB
Language name=   and Annual average salary= #00BFFF
Language name=   and Annual average salary= #B0C4DE
Language name=   and Annual average salary= #1E90FF

Save the scrapped data into a file named *popular-languages.csv*

In [14]:
# your code goes here
df = pd.DataFrame(table_df, columns=['Language name','Annual average salary'])
df.drop(df.index[0], inplace=True)
df.to_csv('popular-languages.csv')
df

   Language name  Annual average salary
1                                   NaN
2                                   NaN
3                                   NaN
4                                   NaN
5                                   NaN
6                                   NaN
7                                   NaN
8                                   NaN
9                                   NaN
10                                  NaN
11                                  NaN
12                                  NaN
13                                  NaN
14                                  NaN
15                                  NaN
16                                  NaN
17                                  NaN
18                                  NaN
19                                  NaN
20                                  NaN
21                                  NaN
22                                  NaN
23                                  NaN
24                                  NaN
25                                  NaN
26                                  NaN
27                                  NaN
28                                  NaN
29                                  NaN
30                                  NaN
31                                  NaN
32                                  NaN

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

|  Date (YYYY-MM-DD) |  Version | Changed By  |  Change Description |
|---|---|---|---|
| 2020-10-17  | 0.1  | Ramesh Sannareddy  |  Created initial version of the lab |

 Copyright &copy; 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01).